body{
    background-color: #0e1111;
    font-size: 1.3em;
    font-weight: 500;
    color: #ffffff80;
    height: auto;
    overflow-x: hidden;
}

.link{
    color: white;
    text-decoration: none;
}

.trackContainer {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100vw; 
    height: 100vh;
}

#imagetrack > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
    animation: fadeIn 2s ease-in;
    margin-bottom: 7%;
}

.shopNow {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: 1.3px solid steelblue;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    font-family: "Poetsen One", sans-serif;
    background-color: transparent;
}

.shopNow:hover{
    opacity: 1;
    cursor: pointer;
    
}

@keyframes fadeIn{
    0%{
        opacity: 0;
        filter: blur(5px);
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

#imagetrack{
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    user-select: none;
}

.cardcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.poetsen {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:white;
}

#gradient {
    background: radial-gradient(#ddadad, #242328 50%);
    position: absolute;
    width: 1000px;
    height: 1000px;
    left: -500px;
    top: -500px;
    opacity: 0;
    transition: opacity 1s;
  }
  
#gradient.visible {
    opacity: 0.6;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }
}

#card {
    width: 900px;
    height: 450px;
    background-color: #242328;
    border-radius: 20px;
    border: 1px solid grey;
    display: flex;
    overflow: hidden;
    position: relative;
    margin-top: 130px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
    animation: fadeIn 1s;
    display: none;
  }


#card{
    a {
        color: white;
        text-decoration: none;
        position: relative;
        margin-bottom: 1em;
    }

    a:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -0.5em;
        width: 100%;
        height: 2px;
        background-color: white;
        transform: scaleX(0);
        transition: transform 300ms;
        transition-timing-function: ease-out;
        transform-origin: left;
      }
    
      a:hover:after {
        transform: scaleX(1);
      }
}

.leftside{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2em 1em 1em 1.5em;
    position: relative;
    z-index: 2; 
}

.rightside{
    width: 50%;
    position: relative;
    z-index: 2;
    
}

.rightside img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height:auto;
}

@media (max-width: 1065px) {
    #card{
        width: 700px;
        height: 350px;
    }
    .cardcontainer{
        margin-top: -30px;
        width: 95%;
    }
}

@media (max-width: 850px) {
    #card{
        width: 600px;
        height: 300px;
        margin-top: 75px;
    }
    .rightside img{
        height: 110%;
    }
    .poetsen{
        font-size: 16px;
    }
    .cardcontainer{
        margin-top: -30px;
        width: 95%;
    }
}

@media (max-width: 625px){ 
    .leftside{
        margin-top: 1em;
    }
    #card{
        height: 220px;
    }
    .poetsen{
        margin-bottom: 1em;
    }
    .cardcontainer{
        margin-top: -30px;
        width: 95%;
    }
}

@media (max-width: 590px){
    .poetsen{
        font-size: 14px;
    }
    .cardcontainer{
        margin-top: -30px;
        width: 95%;
    }
}

@media (max-width: 532px){
    .poetsen{
        font-size: 12px;
    }
    #card{
        height: 200px;
        margin-top: 40px;
    }
    .cardcontainer{
        margin-top: -20px;
        width: 95%;
    }
}

@media (max-width: 475px){
    .poetsen{
        font-size: 10px;
    }
    #card{
        height: 175px;
    }
    .cardcontainer{
        margin-top: -20px;
        width: 95%;
    }
}

@media (max-width: 404px){
    .leftside{
        margin-top: 10px;
        margin-left: 20px;
    }
    .poetsen{
        font-size: 9.5px;
        margin-bottom: 10px;
    }
    #card{
        height: 160px;
    }
    .cardcontainer{
        margin-top: -20px;
        width: 95%;
    }
}

@media (max-width: 390px){
    .leftside{
        margin-top: 10px;
        margin-left: 20px;
    }
    .poetsen{
        font-size: 9px;
    }
    #card{
        height: 150px;
    }
    .cardcontainer{
        margin-top: -20px;
        width: 95%;
    }
}

@media (max-width: 365px){
    .leftside{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .poetsen{
        font-size: 8.5px;
        margin-bottom: 0;
    }
    .cardcontainer{
        margin-top: -20px;
        width: 95%;
    }
}

@media(max-width: 320px){
    .cardcontainer{
        margin-top: -20px;
        width: 95%;
    }
}

@media (max-width: 700px) {
  .trackContainer {
    display: none;
  }

  .gradientOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* This allows clicks to pass through the overlay */
  }

  .fullScreenImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }
}

@media (min-width: 700px) {
  .fullScreenImage {
    display: none;
  }
}

.nextPage {
  position: relative;
  z-index: 1;
  display: none; /* Hide the card container by default */
}

.nextPage.visible {
  display: block; /* Show the card container when visible */
}
