.container{
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    animation: fadeIn 3s;
}

.button{
    background-color: none;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* .hidden{
    opacity: 0;
    filter:blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
} */

.link{
    color: white;
    text-decoration: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: tinos;
  }

.vzero{
    display: flex;
    color: white;
    margin: 0 0 5px 15px;
    font-size: 50px;
    text-align: center;
    width: 100%;
    justify-content: center;
    flex-grow: 1;
    position: relative;
}

.faIdCard{
    position: absolute;
    color: white;
    right: 0;
    font-size: 1.8rem;
    margin: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.faShoppingCart{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    margin: 20px;
    right: 0;
    position: absolute;
    color: white;
}

.tinos {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: italic;
}

  
  .faShoppingCart:hover, .faIdCard:hover {
    transform: scale(1.2); 
    cursor: pointer;
  }

@media (max-width: 350px) { 
    .vzero{
        font-size: 35px;
    }
    .faIdCard, .faShoppingCart{
        font-size: 1.4rem;
    }
}
